<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
  <Idioma>ES</Idioma>
  <TiposPreguntas>
    <TipoPregunta>Verdadero-Falso</TipoPregunta>
    <TipoPregunta>Quiz</TipoPregunta>
    <TipoPregunta>Pregunta Abierta</TipoPregunta>
    <TipoPregunta>Escrita</TipoPregunta>
  </TiposPreguntas>
  <TimeoutPreguntas>30</TimeoutPreguntas>
  <NumMaxPreguntas>15</NumMaxPreguntas>
  <RutaXMLKahoots>"src"+File.separator+"kahootXML"</RutaXMLKahoots>
</Configuration>